<p id="notice"><%= notice %></p>

<h1>Lista Clientes</h1>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Nombre completo</th>
      <th>Tipo documento</th>
      <th>Documento</th>
      <th>Telefono</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre_completo %></td>
        <td><%= cliente.tipo_doc.nombre rescue nil %></td>
        <td><%= cliente.documento %></td>
        <td><%= cliente.telefono %></td>
        <td><%= link_to 'Ver', cliente, class: "btn btn-success btn-xs"  %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= button_to 'Nuevo Registro', new_cliente_path, :method=>"get", class: "btn btn-primary btn-xs" %> 
