<%= form_for(@servicio) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cambio_aceite %><br>
    <%= f.text_field :cambio_aceite, :placeholder => "$ ingrese precio" %>
  </div>
  <div class="field">
    <%= f.label :alineacion_balanceo %><br>
    <%= f.text_field :alineacion_balanceo, :placeholder => "$ ingrese precio"%>
  </div>
  <div class="field">
    <%= f.label :reparación_automotriz %><br>
    <%= f.text_field :reparación_automotriz, :placeholder => "$ ingrese precio" %>
  </div>
  <div class="field">
    <%= f.label :mantenimiento %><br>
    <%= f.text_field :mantenimiento, :placeholder => "$ ingrese precio"%>
  </div>
  <div class="field">
    <%= f.label :electricidad %><br>
    <%= f.text_field :electricidad, :placeholder => "$ ingrese precio"%>
  </div>
  <div class="field">
     Automovil <br>
    <%= f.collection_select :auto_id, Auto.all, :id, :placa, class: "form-control",     prompt: "Seleccione placa"%>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-info btn-xs" %>
    

  </div>
<% end %>
