<p id="notice"><%= notice %></p>

<h1>Listing Servicios</h1>

<table>
  <thead>
    <tr>
      <th>Cambio aceite</th>
      <th>Alineacion balanceo</th>
      <th>Reparación automotriz</th>
      <th>Mantenimiento</th>
      <th>Electricidad</th>
      <th>Auto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.cambio_aceite %></td>
        <td><%= servicio.alineacion_balanceo %></td>
        <td><%= servicio.reparación_automotriz %></td>
        <td><%= servicio.mantenimiento %></td>
        <td><%= servicio.electricidad %></td>
        <td><%= servicio.auto.placa %></td>
        <td><%= link_to 'Show', servicio %></td>
        <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
        <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Servicio', new_servicio_path %>
