<p id="notice"><%= notice %></p>

<h1>Lista Servicios</h1>

<table class="table table-bordered">
  <thead>
    <tr  class="active">
      <th>Cambio aceite</th>
      <th>Alineacion balanceo</th>
      <th>Reparación automotriz</th>
      <th>Mantenimiento</th>
      <th>Electricidad</th>
      <th>Auto</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= servicio.cambio_aceite %></td>
        <td><%= servicio.alineacion_balanceo %></td>
        <td><%= servicio.reparación_automotriz %></td>
        <td><%= servicio.mantenimiento %></td>
        <td><%= servicio.electricidad %></td>
        <td><%= servicio.auto.placa rescue nil %></td>
        <td><%= link_to 'Imprimir', servicio %></td>
        <td><%= link_to 'Editar', edit_servicio_path(servicio) %></td>
        <td><%= link_to 'Eliminar', servicio, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_servicio_path %>
