<%= form_for(@relacion) do |f| %>
  <% if @relacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relacion.errors.count, "error") %> prohibited this relacion from being saved:</h2>

      <ul>
      <% @relacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
     Automovil <br>
    <%= f.collection_select :auto_id, Auto.all, :id, :placa, class: "form-control",     prompt: "Seleccione placa" %>
  </div>
  <div class="field">
    <%= f.label :servicio_id %><br>
    <%= f.text_field :servicio_id %>
  </div>
  <div class="field">
    Estado<br>
    <%= f.collection_select :estado_id, Estado.all, :id, :nombre, class: "form-control",     prompt: "Seleccione estado" %>
  </div>
  

  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-info btn-xs"%>
  </div>
<% end %>
