<%= form_for(@relacion) do |f| %>
  <% if @relacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relacion.errors.count, "error") %> prohibited this relacion from being saved:</h2>

      <ul>
      <% @relacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :auto_id %><br>
    <%= f.text_field :auto_id %>
  </div>
  <div class="field">
    <%= f.label :servicio_id %><br>
    <%= f.text_field :servicio_id %>
  </div>
  <div class="field">
    <%= f.label :estado_id %><br>
    <%= f.text_field :estado_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
