<p id="notice"><%= notice %></p>

<p>
  <strong>Auto:</strong>
  <%= @relacion.auto.placa rescue nil %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @relacion.servicio %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @relacion.estado.nombre rescue nil %>
</p>

<%= link_to 'Editar', edit_relacion_path(@relacion),  class: "btn btn-warning btn-xs" %> |
<%= link_to 'Atras', relacions_path,class: "btn btn-default btn-xs" %> <br><br><br><br><br>

 
<button type="button" class="btn btn-info">Generar Factura</button>

