<p id="notice"><%= notice %></p>

<h1>Lista Autos</h1>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Marca</th>
      <th>Modelo</th>
      <th>Placa</th>
      <th>Cliente</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @autos.each do |auto| %>
      <tr>
        <td><%= auto.marca %></td>
        <td><%= auto.modelo %></td>
        <td><%= auto.placa %></td>
        <td><%= auto.cliente.nombre_completo rescue nil%></td>
        <td><%= link_to 'Ver', auto, class: "btn btn-success btn-xs"  %></td>
        <td><%= link_to 'Editar', edit_auto_path(auto), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Eliminar', auto, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to  'Nuevo Registro', new_auto_path, :method=>"get", class: "btn btn-primary btn-xs"  %>
