<!DOCTYPE html>
<html>
<head>
  <title>ServiAuto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<li><%= link_to "Inicio", clientes_path %></li> 
	    <li><%= link_to "Autos", autos_path %></li> 
	    <li><%= link_to "Servicios", servicios_path %></li> 
	    <li><%= link_to "Tipo de documentos", tipodocs_path %></li>
    </ul>  
	
<%= yield %>

</body>
</html>
